
# Arquivos essenciais para versionar
!package.json
!package-lock.json
!vite.config.*
!eslint.config.*
!index.html
!.env
!.gitignore

# Pastas principais
!src/
!public/
!dist/

# Conteúdo das pastas
src/*
!src/**/*

public/*
!public/**/*

dist/*
!dist/**/*

# Ignorar tudo que não é necessário
node_modules/
.git/
electron/
release/
.DS_Store
*.log
coverage/
.nyc_output/