name: Build and Release Electron App

on:
  push:
    tags:
      - '*'
  workflow_dispatch:


permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18
        cache: npm
        cache-dependency-path: frontend/package-lock.json

    - name: Install dependencies
      run: npm ci
      working-directory: frontend

    - name: Build React
      run: npm run build
      working-directory: frontend

    - name: Build and publish Electron
      run: npx electron-builder --publish always
      working-directory: frontend
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
